*.aar
*.jar
*.iml
.gradle
.idea
.kotlin
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/libs/
/app/src/main/assets/owenclave-core/*.dat
/app/src/main/jniLibs/*/libolcrtc.so
/service_account_credentials.json
jniLibs/
go.work
go.work.sum
.opencode
owenclave.jks
